<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div>
      <form>
        <div class="form-group row">
          <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Filter by:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control form-control-lg" id="colFormLabelLg" placeholder="type test name">
          </div>
        </div>
      </form>
    </div>
    <div class="table-responsive">
      <table class="table" *ngIf='tests && tests.length'>
        <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor='let test of tests'>
          <td>{{test.name}}</td>
          <td>{{test.description}}</td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
